
.scoreChart{
    width: 33%;
    height: 250px;
    background-color: #FBFBFB;
    border-radius: 6px;
    position: relative;
}

.score{
    position: absolute;
    color: #20253A;
    font-size: 15px;
    margin: 0px;
    top: 20px;
    left: 15px;
}

.scoreDescription{
    position: absolute;
    top: 30%;
    left: 38%;
    text-align: center;
}

.todayScore{
    font-size: 1.4em;
}

.obj{
    color: #74798C;
    font-size: 0.9em;
}