.LeftNavBar{
    width: 110px;
    background-color: black;
    /* padding: 369px 0px; */
}

.icons{
    position: absolute;
    top: 320px; 
    left: 20px;
}


.copyright{
    transform: rotate(-90deg);
    position: absolute;
    bottom: 90px;
    left: -20px;
    font-size: 0.7em;
    color: white;
}