
.Tag{
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: #FBFBFB;
    padding: 30px 25px;
    /* margin-bottom: 20px; */
    align-items: center;
    border-radius: 6px;
}

.description{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.imgBackground{
    border-radius: 5px;
}

.imgBackground img{
    padding: 15px;
    
}

.type{
    color: #74798C;
    font-size: 0.8em;
    margin-top: 5px;
}